:root {
  --border-color: red;
  --border-size: 1vmin;
  --highlight-color: lightblue;
  --font-size: calc(12px + 0.8vmax);
  --border-stye: 1px solid var(--border-color);
  --background--color: ghostwhite;
}

body {
  font-size: var(--font-size);
}

#mdp-component,
#mdp-component * {
  box-sizing: border-box;
}

#mdp-component {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-top: solid var(--border-color) var(--border-size);
  border-bottom: solid var(--border-color) var(--border-size);
  width: 100vw;
  border-right: solid var(--border-color) var(--border-size);
  border-left: solid var(--border-color) var(--border-size);
}

.container {
  flex: 1 1 50%;
}

#md-input {
  border-right: solid var(--border-color) calc(var(--border-size) / 2);
}

#md-input #editor {
  font-size: calc(10px + 0.6vmax);
}

#md-preview {
  border-left: solid var(--border-color) calc(var(--border-size) / 2);
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.4em;
  margin-block-end: 0.2em;
  border-bottom: solid var(--border-color) 1px;
}

table {
  --border-ext: solid currentColor 2px;
  margin: 1.5vmin auto;
  border-collapse: collapse;
}

table td,
table th {
  border: var(--border-stye);
  padding: 1.5vmin;
}

table tr:first-child th {
  border-top: var(--border-ext);
}

table tr:last-child td {
  border-bottom: var(--border-ext);
}

table tr td:first-child,
table tr th:first-child {
  border-left: var(--border-ext);
}

table tr td:last-child,
table tr th:last-child {
  border-right: var(--border-ext);
}

blockquote {
  margin: 1em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

blockquote p {
  margin: 0;
  padding: 1vmin 2vmin 1vmin 3vmin;
  display: inline-block;
  background: var(--background--color);
}

blockquote p::before {
  content: url(./quote.svg);
  display: inline-block;
  padding: 0vmin 1vmin 0vmin 0vmin;
  width: 3.5vmin;
  margin-left: -1vmin;
}

code {
  background: var(--background--color);
  padding: 0.5vmin;
}

pre code.hljs {
  padding: 1vmin 2vmin 1vmin 2vmin;
  background: var(--background--color);
}

a {
  color: var(--border-color);
}

p img {
  max-width: 100%;
  display: block;
  margin: auto;
}

ul li::marker {
  color: var(--border-color);
}

input[type="checkbox"] {
  vertical-align: text-top;
  margin: 0.5vmin;
  width: var(--font-size);
  height: var(--font-size);
}

@media only screen and (orientation: portrait) {
  #md-input {
    border-right: solid var(--border-color) 0;
    border-bottom: solid var(--border-color) calc(var(--border-size) / 2);
  }

  #md-preview {
    border-left: solid var(--border-color) 0;
    border-top: solid var(--border-color) calc(var(--border-size) / 2);
  }
  #mdp-component {
    flex-direction: column;
  }
}
