#mdi-component {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#editor {
  resize: none;
  border: 0;
  padding: 0.5vmin;
  height: 100%;
  width: 100%;
  outline-color: var(--main-color);
}

#preview {
  padding: 1vmin;
}
